<div class="page-header">
  <h1>Dish #<%= @dish.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @dish.name %></dd>

  <dt>Cuisine Name</dt>
  <dd><%= Cuisine.find_by({ :id => @dish.cuisine_id }).name %></dd>

</dl>
